{% extends 'base.html' %}


{% block title %}<h1>Login User</h1>{% endblock %}

{% block content %}

{% for msg in get_flashed_messages() %}
<p style="color:red; ">{{ msg }}</p>
{% endfor %}

<form action="/login" method="POST" class="login-form">

  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != "hidden" %}
  <div class="new-user-input">
    {{ field.label }}
    {{ field }}
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </div>

  {% endfor %}

  <button class="btn btn-primary" type="submit">Login User</button>
</form>

{% endblock %}
