{% extends 'base.html' %}

{% block title %}<h1>Register User</h1>{% endblock %}

{% block content %}

{% for msg in get_flashed_messages() %}
<p style="color:red; ">{{ msg }}</p>
{% endfor %}

<form action="/register" method="POST" class="register-form">

  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != "hidden" %}
  <div class="new-user-input">
    {{ field.label }}
    {{ field }}
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </div>

  {% endfor %}

  <button class="new-user-submit" type="submit">Register User</button>
</form>

<button><a class="btn btn-primary" href="/login">Login</a></button>


<form action="/logout" method="POST" class="logout-form">
  {{ form.hidden_tag() }}

  <button class="logout-submit" type="submit">Logout</button>
</form>
{% endblock %}
