{% extends 'base.html' %}

{% block title %}

{% endblock %}

<!-- Just list all the stuff about the user-->
{% block content %}

<p>{{ user.username }}</p>
<p>{{ user.first_name }}</p>
<p>{{ user.last_name }}</p>
<p>{{ user.email }}</p>

<ul>
  {% for note in notes %}
  <li>
    <a href="/notes/{{note.id}}/update">Edit</a>
    <form action="/notes/{{note.id}}/delete" method="POST">
      <button type="submit">Delete</button>
    </form>
    {{note.title}}
    ---{{note.content}}
  </li>
  {% endfor %}
</ul>

<a href="/users/{{user.username}}/notes/add">Add a note</a>

<form action="/users/{{user.username}}/delete" method="POST">
  <button type="submit">Delete Account</button>
</form>

<form action="/logout" method="POST" class="logout-form">
  {{ form.hidden_tag() }}

  <button class="logout-submit" type="submit">Logout</button>
</form>
{% endblock %}
