{% extends 'base.html' %}

{% block title %}

{% endblock %}

<!-- Just list all the stuff about the user-->
{% block content %}

<h2>{{ user.first_name }} {{ user.last_name }}</h2>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>

<ul>
  {% for note in notes %}
  <li>
    <a class="btn btn-primary btn-sm" href="/notes/{{note.id}}/update">
      <i class="bi bi-pencil-square"></i>
    </a>
    <form action="/notes/{{note.id}}/delete" method="POST">
      {{ form.hidden_tag() }}
      <button class="btn btn-danger btn-sm" type="submit">
        <i class="bi bi-trash"></i>
      </button>
    </form>
    {{note.title}}
    ---{{note.content}}
  </li>
  {% endfor %}
</ul>

<a class="btn btn-primary my-1" href="/users/{{user.username}}/notes/add">Add a note</a>

<form action="/users/{{user.username}}/delete" method="POST">
  <button class="btn btn-danger my-1" type="submit">Delete Account</button>
</form>

<form action="/logout" method="POST" class="logout-form">
  {{ form.hidden_tag() }}

  <button class="btn btn-secondary my-1" type="submit">Logout</button>
</form>
{% endblock %}
